.row {
    margin-left: 25px;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row__name {
    color: #e5e5e5;
    margin-top: 1.7rem;
    margin-bottom: 0.5rem;
    font-family: 'Netflix Sans 700' !important;
    font-weight: 400;
    font-size: 1.35rem;
}
.row__name#name-1 {
    margin-top: 0.5rem !important;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.container .body-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
    visibility: hidden;
    position: relative;
}
.body-item {
    padding: 0 10px;
    margin-top: 15px;
}
.container .body-item:hover {
    width: 40vw;
    height: 20vw;
    opacity: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.container .body-item-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    opacity: 0.4;
}
.container .body-item-1:hover {
	color: #E50914;
    opacity: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.container .body-item-2 {
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    font-family: 'Netflix Sans 400';
    width: 88%;
}
.container .body-item-3 {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.container .body-item-4 {
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 88%;
}
.container .body-item-5 {
    width: 40vw;
    text-align: center;
}
.container .body-item-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: absolute;
    right: 10px;
}
.container .play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2.5rem;
}
.container .play i {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    border: 0.19rem solid white;
    padding: 1.4rem;
    font-size: 1.8rem;
}
.details-icon {
    font-size: 1.5rem;
}
.item {
    width: 25vw;
    height: 15vw;
    margin-right: 6px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #e5e5e5;
    background-size: 100% 100%;
}
.item.largeRow {
    width: 20vw;
    height: 30vw;
}
.item:hover {
    width: 40vw;
    height: 22vw;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    background-size: 100% 100%;
}
.item:hover .body-item {
    visibility: visible;
}
.item:hover .body-item-1 {
    width: 40vw;
}
.icon-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4rem;
    margin-right: 10px;
}
.icon-set i {
    margin: 0 0.5rem 0.5rem 0;
    font-size: 1rem;
    border-radius: 100%;
    padding: 0.7rem;
    background: rgba(0, 0, 0, 0.5);
    border: 0.1em solid rgba(255, 255, 255, 0.5);
}
.icon-set i:hover {
    border-color: #e5e5e5;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.icon-set .fa-thumbs-up:hover {
    color: #28a745;
}
.icon-set .fa-thumbs-down:hover {
    color: #dc3545;
}
.icon-set .fa-plus:hover {
    color: #007bff;
}
.arrow-right, .arrow-left {
    color: white;
    background-color: rgba(20, 20, 20, 0.5);
    width: 4%;
    height: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    font-size: 4rem;
    opacity: 0.2;
    z-index: 100 !important;
}
.arrow-right:hover, .arrow-left:hover {
    opacity: 1;
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}
.arrow-right {
   right: 0;
}
.arrow-left {
   left: 0;
}
.match {
   color: #28a745;
   font-size: bold;
}
.description {
    font-size: 1.2rem;
}
.properties {
    font-size: 1.17rem;
}
.year {
    margin-left: 0.5rem;
    border: 0.1em solid rgba(255, 255, 255, 0.4);
	padding: 0 3px 0 3px;
}

.youtube__screen {
    width: calc(100% - 20px);
    margin-top: 10px;
}